﻿@using Market.Common
@model Market.WebSite.Models.Order.CreateOrderModel

@{
    ViewBag.Title = "Оформить заказ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <h2>Оформление заказа</h2>
        <div class="review-payment">
            <h2>Заказ и Стоимость</h2>
        </div>


        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Товар</td>
                        <td class="description">Описание</td>
                        <td class="price">Цена</td>
                        <td class="quantity">Количество</td>
                        <td class="total">Сумма</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href="@Url.Action("Index", "Product")"><img src="~/Content/images/home/product1.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="@Url.Action("Index", "Product")">Радужная форель</a></h4>
                        </td>
                        <td class="cart_description">
                            <h4><a>850 р.</a></h4>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <span class="cart_quantity_up" id="addToCartButton" onclick=" addToCart() "> + </span>
                                <input class="cart_quantity_input" id="totalCount" type="text" name="quantity" value="0" autocomplete="off" size="2" readonly>
                                <span class="cart_quantity_down" id="deleteFromCartButton" onclick=" deleteFromCart() "> - </span>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price" id="totalPrice"></p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="shopper-informations">
            @using (Html.BeginForm("Create", "Order", FormMethod.Post,new {id = "order-form"}))
            {
                <div class="row">
                    <div class="col-sm-4">
                        <div class="shopper-info">
                            <p>Ваши данные</p>
                            <div>
                                @Html.ValidationMessageFor(model => model.FirstName)
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @placeholder = "Имя" } })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @placeholder = "Телефон" } })
                            </div>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @placeholder = "Фамилия" } })
                            @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @placeholder = "Отчество" } })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email" } })

                        </div>
                    </div>
                    <div class="col-sm-4 clearfix">
                        <div class="bill-to">
                            <p>Доставка</p>
                            <div class="form-one">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @placeholder = "Адрес" } })
                                @Html.EditorFor(model => model.Count, new { @placeholder = "Количество", type = "number" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="order-message">
                            <p>Комментарий к заказу</p>
                            @Html.TextAreaFor(model => model.Comment, new { @placeholder = "Ваш комментарий к заказу", rows = "12", name = "message" })
                        </div>
                    </div>
                </div>
                <div>
                    <h4 style="font-size: 14px;"><span style="color: red;">Внимание!</span> Цена приблизительная, т. к. рассчитана из среднего веса 1ой рыбы. Вес рыбы колеблется от 1.2 до 2 кг</h4>
                </div>
                <div id="orderButtons" style="display: none;">
                    <button id="create-button" class="btn btn-primary">Оформить заказ</button>
                </div>
            }
        </div>
    </div>
</section>
