﻿@using Market.Data.Context
@model Market.WebSite.Models.Order.OrderDetailModel

@{
    ViewBag.Title = "Информация о заказе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="do_action">
    <div class="container">
        <div class="heading">
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                <h2 style="padding-left: 20px;">Ваш заказ успешно оформлен #@Model.OrderNumber</h2>

                    <div style="padding-left: 22px;">В ближайшее время с вами свяжется наш менеджер для подтверждения заказа</div>

                <div class="total_area">
                    <ul>
                        <li>Имя <span>@Model.FirstName</span></li>
                        <li>Телефон <span>@Model.PhoneNumber</span></li>
                        <li>Количество <span>@Model.Count шт.</span></li>
                        @if (!string.IsNullOrWhiteSpace(Model.LastName))
                        {
                            <li>Фамилия <span>@Model.LastName</span></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Patronymic))
                        {
                            <li>Отчество <span>@Model.Patronymic</span></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Address))
                        {
                            <li>Адрес <span>@Model.Address</span></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Comment))
                        {
                            <li>
                                <p>Комментарий к заказу</p>
                                <div>
                                    <textarea name="message" placeholder="" rows="6" style="min-width: 100%;" readonly>@Model.Comment</textarea>
                                </div>
                            </li>
                        }
                        <li><a href="@Url.Action("Index","Order",new RouteValueDictionary(Model.AlternativeId))">Ссылка на ваш заказ </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>
