﻿@model Market.WebSite.Models.Order.OrderDetailModel

<style>
 .mail label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }
</style>
<section id="cart_items">
    <div class="container">
        <h2>Информация о заказе</h2>
        <div class="order-finish-info">
            <div class="row">
                <div class="col-sm-8">
                    <div class="mail">
                        @Html.LabelFor(model => model.FirstName):
                        <span>@Html.ValueFor(model => model.FirstName)</span>
                    </div>
                    <div class="">
                        @Html.LabelFor(model => model.PhoneNumber):
                        @Html.ValueFor(model => model.PhoneNumber)
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.LastName))
                    {
                        <div class="">
                            @Html.LabelFor(model => model.LastName):
                            @Html.ValueFor(model => model.LastName)
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.Patronymic))
                    {
                        <div class="">
                            @Html.LabelFor(model => model.Patronymic):
                            @Html.ValueFor(model => model.Patronymic)
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.Address))
                    {
                        <div class="">
                            @Html.LabelFor(model => model.Address):
                            @Html.ValueFor(model => model.Address)
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Comment))
                    {
                        <div class="">
                            @Html.LabelFor(model => model.Comment):
                            @Html.ValueFor(model => model.Comment)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>