﻿@model dynamic

@{
    ViewBag.Title = "Доставка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="activetab" value="deliverytab">

<div id="contact-page" class="container">
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-9">
            <div class="contact-form">
                <h2 class="title text-center">Доставка</h2>
                <label style="color: #696763; font-size: 18px;"> Всегда рады доставить Вам продукт первой свежести! 
                <br/>Доставка осуществляется по вторникам.
                <br/>Доставка от 3 рыб и больше - бесплатно.<br/> Цены на доставку:<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• по городу - 100р.<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• oтдаленные районы (5,6 микрорайоны, Стрижи, Академ, Бердск) - 170р.<br /><br /> Дополнительную информацию можно получить по телефону: +7(383)-381-51-49</label>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>