﻿@{
    ViewBag.Title = "Доставка свежей рыбы";
}
<input type="hidden" id="activetab" value="maintab">
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item">
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/slider-fish3.jpg" class="girl img-responsive" alt="">
                            </div>
                            <div class="col-sm-6">
                                <h2>Доставка свежей рыбы</h2>
                                <p>Самая свежая форель в Новосибирске!</p>
                                <button type="button" class="btn btn-default get" onclick="window.location.href='@Url.Action("Create", "Order")';">Заказать</button>
                            </div>

                        </div>
                        <div class="item active">
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/slider-fish4.jpg" class="girl img-responsive" alt="">
                            </div>
                            <div class="col-sm-6">
                                <h2>Доставка свежей рыбы</h2>
                                <p>Самая свежая форель в Новосибирске!</p>
                                <button type="button" class="btn btn-default get" onclick=" window.location.href = '@Url.Action("Create", "Order")'; ">Заказать</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <img src="~/Content/images/home/slider-fish5.jpg" class="girl img-responsive" alt="">
                            </div>
                            <div class="col-sm-6">
                                <h2>Доставка свежей рыбы</h2>
                                <p>Самая свежая форель в Новосибирске!</p>
                                <button type="button" class="btn btn-default get" onclick="window.location.href='@Url.Action("Create", "Order")';">Заказать</button>
                            </div>

                        </div>
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>