﻿@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Any Info Page</h2>
                <div class="col-sm-8">
                    <div class="contact-info">
                        <h3>Потрошение</h3>
                        <address>
                            <p>
                                Нужны кухонные ножницы (или нож если аккуратно вспарывать, чтобы не задеть желчь) , ложка десертная/столовая и нож. Вспарываем брюхо ножницы или нож. Отрезаем ножницами горло возле головы и вытаскиваем за него внутренности. Надрезаем кровяной мешок вдоль хребта и ближе к хвосту поглубже надрезаем кровяные протоки с двух сторон от позвоночника. Берем ложку и спускаем кровь от головы к хвосту. Вытираем все внутри салфетками. ВАЖНЫЙ МОМЕНТ: не промывайте внутренности водой! Только салфетки, от контакта с водой вкусовые качества немного меняются (об этом можно долго спорить, но я перестал и делаю так, как мне советовали)
                                Вот видео как это делают с помощью специально ножа, но его иметь не обязательно: http://vk.com/likefishnsk?z=video-81534320_171571800%2Fc571fae0f71a8e9c56

                                На многих роликах в интернете и в жизни я вижу, как процесс потрошения происходит в раковине - рыбу держат за жабры, она скользит и крутиться. На много удобнее после очистки от чешуи переместиться на большую разделочную доску (или просто стол) и все делать там, потому что вода нам больше не понадобиться, а потроха можно скинуть с доски и промыть ее. opper Inc.
                            </p>
                        </address>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="http://abc-inform.ru/wp-content/uploads/2013/02/P2262102.jpg" style="width: 100%; padding-top: 50px;"/>
                </div>
            </div>
        </div>
    </div>
</div>