﻿@{
    ViewBag.Title = "Страница не найдена";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bigError">
    <div class="row">
        <h1>404</h1>
    </div>
    <div class="row">
        <label>Страница не найдена</label>
    </div>
    <div class="row">
        <input type="button" value="Перейти на главную" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Home")';" />
    </div>
</div>

