﻿
@{
    ViewBag.Title = "Ошибка сервера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bigError">
    <div class="row">
        <h1>500</h1>
    </div>
    <div class="row">
        <label>Ошибка сервера</label>
    </div>
    <div class="row">
        <input type="button" value="Перейти на главную" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Home")';" />
    </div>
</div>

