﻿<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <a href="@Url.Action("Index", "Home")"><img class="logo-picture-footer" src="~/Content/images/home/fish.png" alt=""/></a>
                        <p>Компания по доставке свежей рыбы</p>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="footer-info">
                        <h4 onclick="javascript:window.location='mailto:?subject=Заказ рыбы&body=Хотел бы связаться с вами для... '">Sibfreshzx@gmail.com</h4>
                    <h4>+7(383)-381-51-49</h4></div>
                </div>
            </div>
        </div>
    </div>
</footer><!--/Footer-->
