﻿<header id="header">
    <!--header-->
    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="@Url.Action("Index","Home")"><img class="logo-picture" src="~/Content/images/home/fish.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="@Url.Action("Index","Home")" class="maintab">Главная</a></li>
                            <li><a href="@Url.Action("Index","Blog")" class="blogtab">Блог</a></li>
                            <li><a href="@Url.Action("Delivery","Home")" class="deliverytab">Доставка</a></li>
                            <li><a href="@Url.Action("Payment","Home")" class="paymenttab">Оплата</a></li>
                            <li style="display: none;"><a href="@Url.Action("Contact","Home")" class="contactstab">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mainmenu_cart pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <button class="btn btn-primary" style="margin-top: -5px;" onclick="window.location.href='@Url.Action("Create", "Order")';"><i class="fa fa-shopping-cart"></i> Корзина <b id="cartElement">(0 шт.)</b></button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->