﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка Сервера";
}

<<div class="container bigError">
    <div class="row">
        <label>Ошибка сервера</label>
    </div>
    <div class="row">
        <input type="button" value="Перейти на главную" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Home")';" />
    </div>
</div>

