﻿@{
    ViewBag.Title = "Радужная Форель";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 padding-left">
            <div class="product-details">
                <!--product-details-->
                <div class="col-sm-5">
                    <div class="view-product">
                        <img src="~/Content/images/home/product1.png" alt="Радужная форель">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="product-information">
                        <!--/product-information-->
                        <h2>Радужная Форель</h2>
                        <div>
                            <span>470 руб/кг</span>
                        </div>
                        <div style="display: block;">
                                <button type="button" class="btn btn-fefault cart" onclick="addToCart()" style="margin-left: 0px;">
                                    <i class="fa fa-shopping-cart"></i>
                                    Положить в корзину
                                </button>
                        </div>

                        <p>
                            <b>Наличие:</b> В наличии
                        </p>
                        <p>
                            <b>Производство:</b> Хакасия
                        </p>
                        <p>
                            <b>Описание:</b>
                            Форель радужная — пресноводная форма стальноголового лосося.<br/>
                            Не потрошенная, с головой, вес рыбы от 1,25кг до 2кг (средний вес 1,5кг)
                            Мясо красное, вкус превосходный, иногда попадается икра.
                            <p>
                            Выращивается в садковых хозяйствах в проточной воде Енисея.
                            Главное достоинство нашей рыбы в том, что она является экологически чистым натуральным продуктом, что подтверждают исследования, проводимые регулярно в краевой лаборатории.
                            Рыба выкормлена на сертифицированном французском экструдированном корме фирмы Screting, на который имеются все сертификаты качества и ветеринарные свидетельства.</p>
                        </p>
                    </div><!--/product-information-->
                </div>
            </div><!--/product-details-->
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

